.section1{
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 25%;
    padding: 25px;
    .section1_div1{
        width: 30%;
    }
}
.section2{
    background-color: #FAFAFA;
    padding: 20px;

    .section2_carts{
        display: flex;
        justify-content: center;
    }
}
.section3{
    background-color: white;
    .section3_cart{
        display: flex;
    }
}
.section4{
    display: flex;
    justify-content: center;
    gap: 15%;
    padding: 60px;
    background-color: #ED4C5C;
    .section4_div1{
        width: 35%;
    }
    .section4_icons{
        display: flex;
        gap: 20px;
    }
}