.primary-button{
    color: white;
    background-color: transparent;
    border-radius: 10px;
    padding:8px 15px;
    border: 1px solid white;
}
.secondary_button{
    background-color: #ED4C5C;
    padding: 13px;
    margin-left: 15px;
    border-radius: 5px;
    border: none;
}