nav{
    display: flex;
    justify-content: space-between;
    margin: 10px 50px;
    align-items: center;

    ul{
        display: flex;
        list-style: none;
        gap: 20px;
        li a{
            text-decoration: none;
            color: white;
        }
    }
}
