.showcase{
    text-align: center;
    padding: 30px;
    h1{
        font-size: 56px;
    }
    p{
        font-size: 20px;
    }
    span a{
        text-decoration: none;
        background-color: white;
        color: #ED4C5C;
        padding: 8px;
        
    }
}
 